#ignore temporary file
/.vscode/
**/.ipynb_checkpoints/*
NVIDIA-OptiX-SDK-8.0.0-linux64-x86_64.sh

#ignore binary
**/build/*
!/build/.gitkeep
**/bin/*
!/build/.gitkeep
/build*/*
__pycache__/

#ignore temp file (but keep the directory)
**/output/**
!/output/.gitkeep
**/prof/**
!/prof/.gitkeep
# **/data/**
# !**/data/Matrix/**
**/data/**/*.txt
**/move.sh

#ignore mtx input output file
*.mtx
*.csv
*.data*
temp.txt
result/**
cuSparse/src/cuSparse
!**/*_small.mtx

/MaxK-GNN/*

# We want this directory for sample input
!OptixSDK/NVIDIA-OptiX-SDK-8.0.0-linux64-x86_64/SDK/data
!/data/.gitkeep

#ignore Cache
CMakeCache.txt

#ignore profiling files
*.sqlite
*.nsys-rep
